* {
    font-family: 'Didact Gothic', sans-serif;
    // background-color: rgb(0, 0, 0);
    // box-sizing: border-box;
}

.mainbody {
    background-image: url('../img/038.jpg');
    background-size: 1600px;
    height: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: scroll;
}

.mycardsbody {
    background-image: url('../img/030.jpg');
    background-size: auto;
    width: 100%;
    height: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: scroll;
}

.flashcardbody {
    background-image: url('../img/0005.png');
    background-position: auto;
    background-size: auto;
    width: 100%;
    height: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

::-webkit-scrollbar {
    display: none;
}

.wordcard {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    margin: 10px 15%;
    box-shadow: 2px 2px 8px black;
    overflow: auto;
}

.wordcard:hover {
    background-color: rgba(81,40,122, 0.75);
    color: white;
    padding: 5px;
    margin: 10px 15%;
    box-shadow: 2px 2px 8px black;
    overflow: auto;
}

.flashcard {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    height: 460px;
    margin: 10px 15%;
    box-shadow: 2px 2px 8px black;
}

.nav-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.mainDefinition {
    font-size: 1.75em;
}

.englishDefinition {
    font-size: 1.5em;
}

.partsofspeech {
    font-size: 1.5em;
    float: right;
}

.nav {
    background-color: black;
    color: white;
}

.parallax-container {
    height: 250px;
}
