* {
    font-family: 'Didact Gothic', sans-serif;
    // background-color: rgb(0, 0, 0);
    // box-sizing: border-box;
}

// @import url('http://getbootstrap.com/dist/css/bootstrap.css');

.mainbody {
    background-image: url('../img/070.jpg');
    background-size: 100%;
    height: 1000px;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: scroll;
}

.loadicon {
    position: absolute;
    left: 3%;
    top: 30%;
    height: 10%;
    opacity: .75;
}

.aboutbody {
    background-image: url('../img/052.jpg');
    background-size: 100%;
    height: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: scroll;
}

.aboutcard {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    margin: 10px 15%;
    box-shadow: 2px 2px 8px black;
    overflow: auto;
}

.aboutimg {
    width: auto;
    max-width: 800px;
}

.foldersbody {
    background-image: url('../img/0003.png');
    background-size: 100%;
    height: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: scroll;
}

.folderbody {
    background-image: url('../img/0002.png');
    background-size: 100%;
    height: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: scroll;
}

.createbody {
    background-image: url('../img/025.jpg');
    background-size: 100%;
    height: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: scroll;
}

.loginbody {
    background-image: url('../img/0006.png');
    background-size: 100%;
    height: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: scroll;
}

.mycardsbody {
    background-image: url('../img/030.jpg');
    background-size: 100%;
    width: 100%;
    height: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: scroll;
}

.flashcardbody {
    background-image: url('../img/0005.png');
    background-position: auto;
    background-size: 100%;
    width: 100%;
    height: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.folderflashcardbody {
    background-image: url('../img/044.jpg');
    background-position: bottom;
    background-size: 100%;
    width: 100%;
    height: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.scoreCounter {
    font-size: 4em;
}

.congrats {
    font-size: 2em;
}

::-webkit-scrollbar {
    display: none;
}

.wordcard {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    margin: 10px 15%;
    box-shadow: 2px 2px 8px black;
    overflow: auto;
}

.wordcard:hover {
    background-color: rgba(30,15,45, 0.75);
    color: white;
    padding: 5px;
    margin: 10px 15%;
    box-shadow: 2px 2px 8px black;
    overflow: auto;
}

.flashcard {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    height: 460px;
    margin: 10px 15%;
    box-shadow: 2px 2px 8px black;
}

.nav-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.mainDefinition {
    font-size: 1.75em;
}

.englishDefinition {
    font-size: 1.5em;
}

.partsofspeech {
    font-size: 1.5em;
    float: right;
}

.opacity {
  opacity: .75;
}

.nav {
    background-color: black;
    color: white;
}

.parallax-container {
    height: 250px;
}
