    <h1>AnkiJisho暗記辞書</h1>

    <div class="nav">
        <input type="text" ng-model="search" class="searchbar" ng-model-options="{ debounce: 800 }" id="input" placeholder="Search for a word!">
    </div>

        <div class="mainbody" ng-show="search.length" ng-repeat="word in wordArr | filter: wordfinder">
            <div class="wordcard">
            <a class="btn-floating btn-large waves-effect waves-light teal" ng-click="saveWord(word)"><i class="material-icons">add</i></a><br>
            <span class="mainDefinition" ng-repeat="japanese in word.japanese"> ・ <span class="pink-text">{{japanese.word}}</span> {{japanese.reading}}</span><br>
            <span class="englishDefinition" ng-repeat="english in word.senses"> ・ {{english.english_definitions[0]}}</span>
            </div>
        </div>
