<nav>
    <div class="nav-wrapper black center">
        <ul id="nav-mobile">
            <a href="#!/practice-folder/{{folderFlashcardId}}" class="waves-effect waves-light btn">Practice {{wordCount}} Words</a>
        </ul>
    </div>
</nav>

<div class="folderbody">
    <div ng-repeat="word in folderWords">
        <div class="wordcard hoverable" ng-mouseover="hover=true" ng-mouseleave="hover=false">

            <a class="btn-floating btn-small waves-effect waves-light red right" ng-show="hover"
            ng-click="deleteFolderWord(word.fwid)"
            ><i class="material-icons">delete</i></a><br>

        <span class="mainDefinition" ng-repeat="japanese in word.japanese"> ・ {{japanese.word}} <span class="pink-text">{{japanese.reading}}</span></span><br>
        <span class="englishDefinition" ng-repeat="english in word.senses"> ・ {{english.english_definitions[0]}}</span>
        </div>
    </div>
</div>