  <nav ng-controller="NavController">
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo">AnkiJisho暗記辞書</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">About</a></li>
        <li><a href="#!/saved" ng-show="isLoggedIn">Saved</a></li>
        <li><a href="#!/folders" ng-show="isLoggedIn">Folders</a></li>
        <li><a href="#!/create-folder" ng-show="isLoggedIn">Create Folder</a></li>
        <li><a href="#!/log-in" ng-hide="isLoggedIn">Log In</a></li>
        <li><a href="#" ng-show="isLoggedIn" ng-click="logout()">Log Out</a></li>
      </ul>
    </div>
  </nav>