<div class="nav">
    <input type="text" ng-model="searchsaved" class="searchbar center" placeholder="Narrow it down">
</div>

<nav ng-controller="NavController">
    <div class="nav-wrapper black center">
        <ul id="nav-mobile">
            <a href="#!/practice" class="waves-effect waves-light btn">Practice Memorization</a>

        </ul>
    </div>
</nav>

    <div class="mycardsbody">
        <div ng-repeat="word in userWordArr | filter: searchsaved">
            <div class="wordcard hoverable" ng-mouseover="hover=true" ng-mouseleave="hover=false">

                <a class="btn-floating btn-small waves-effect waves-light red right" ng-show="hover" ng-click="deleteUserWord(word.fbid)"><i class="material-icons">delete</i></a><br>

            <span class="mainDefinition" ng-repeat="japanese in word.japanese"> ・ {{japanese.word}} <span class="pink-text">{{japanese.reading}}</span></span><br>
            <span class="englishDefinition" ng-repeat="english in word.senses"> ・ {{english.english_definitions[0]}}</span>
            <span class="partsofspeech pink-text" ng-if="word.is_common"> &nbsp; Common</span>
            <div ng-controller="FolderController" class="center">
                <span ng-repeat="folder in userFolders">
                    <a href="#!/saved" ng-show="hover" ng-click="addToFolder(folder.id, word)">&nbsp;{{folder.title}}&nbsp;</a>
                </span>
            </div>
            </div>


        </div>
    </div>

